<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/htmx.svg" type="image/svg">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/scripts/htmx.js"></script>
    <script src="/scripts/htmx_response_targets.js"></script>
    <script src="/scripts/hyperscript.js"></script>
    <title><%= title %></title>
</head>