<nav class="p-3 flex bg-indigo-500">
  <h1 class="text-center flex-1 mx-auto text-gray-200 text-xl font-semibold">
    Todo app - htmx
    <span class="text-black">&lang;</span>
    <span class="text-blue-800">/</span>
    <span class="text-black">&rang;</span>
  </h1>
  <div class="ml-auto w-fit flex gap-5">
    <a class="link" hx-get="/info" hx-target="body" hx-swap="innerHTML">Info</a>
    <a class="link" href="">Github</a>
  </div>
</nav>
