<div id="todos">
  <div class="todo">
    <input class="peer" type="checkbox" name="done" />
    <div
      class="peer-checked:bg-emerald-400 peer-checked:text-gray-200 peer-checked:line-through"
    >
      <span>Take out trash</span>
      <div class="todo-icons">
        <div>
          <img src="/assets/editpenicon.svg" alt="edit pen icon svg image" />
        </div>
        <div>
          <img
            src="/assets/deletetrashcan.svg"
            alt="trash can icon svg image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
