<div class="todo-form-wrapper">
  <form id="todo-form" hx-on::after-on-load="this.reset()">
    <div class="text-group">
      <label for="todo">Todo</label>
      <input
        type="text"
        placeholder="add todo..."
        name="todo"
        id="todo"
        required
      />
    </div>
    <button
      hx-post="/todo"
      hx-trigger="click"
      hx-include="#todo-form"
      _="on click toggle @disabled on me until htmx:afterOnLoad end
      on click toggle .hidden on the <svg/> in me until htmx:afterOnLoad end"
      class="primary ml-auto flex gap-2 items-center"
    >
      <span>submit</span>
      <%- include("./spinner.ejs") %>
    </button>
  </form>
</div>
