<div class="todo-form-wrapper">
  <form
    id="todo-form"
    hx-on::after-on-load="if(event.detail.xhr.status===200){this.reset();
        htmx.find(this,'#error').innerHTML=''}"
  >
    <div class="text-group">
      <label for="todo">Todo</label>
      <input type="text" placeholder="add todo..." name="todo" id="todo" />
    </div>
    <div id="error"></div>
    <button
      hx-target-error="#error"
      hx-post="/"
      hx-target="#todos"
      hx-swap="afterbegin"
      hx-include="#todo-form"
      _="on click toggle @disabled on me until htmx:afterOnLoad end
      on click toggle .hidden on the <svg/> in me until htmx:afterOnLoad end"
      class="primary ml-auto flex gap-2 items-center"
    >
      <span>submit</span>
      <%- include("./spinner.ejs") %>
    </button>
  </form>
</div>
